<div class="col">
  <a href="{% if member.redirect %}{{ member.redirect }}{% else %}{{ member.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if member.img %}
        {%
          include figure.liquid
          loading="eager"
          path=member.img
          sizes = "250px"
          alt="member thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ member.title }}</h2>
        <p class="card-text">{{ member.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if member.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ member.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
